<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue Test</title>
    <title>Vue Test</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
    
    <div id="app">
        <div class="todos">
            <div v-for="todo in  computedTodos"
            v-bind:key="todo.id">
            <input type="checkbox"
            v-model="todo.done">
            <span>{{todo.title}}</span>
        </div>

        </div>

    </div>

    <script>
        const vm = new Vue({
            el: '#app', 
            data: {
                todos: [

                {title: '아침먹기'},
                {title: '점심먹기'},
                {title: '저녁먹기'} 
              ]
            },
            computed: {
                computedTodos () {
                    return this.todos.map((todo, index)=>{
                        // return Object.assign({},todo, {
                        //     id: index +1,
                        //     done: false
                        // })
                        return {
                            ...todo,
                            id: index +1,
                            done: false
                        
                        }
                    })
                }
            }
        })
    </script>




</body>
</html>